!.mvn/wrapper/maven-wrapper.jar

# compiled output
target/
dist/
tmp/
out-tsc/

# dependencies
node_modules/
node/


# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.sass-cache
connect.lock
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db

# See http://help.github.com/ignore-files/ for more about ignoring files.
